@using ChatApp.BLL.Interfaces
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>ChatApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        
        <div class="top-row px-4">
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-primary">Login</a>
            <button @onclick="Logout" class="btn btn-danger m-lg-2">Logout</button>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    [Inject] private IUserStateService _userStateService { get; set; }

    private async Task Logout()
    {
        await _userStateService.Logout();
    }
}
